*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

.hero{
background:linear-gradient(90deg,#d2d2cb,#d8d8d3);
padding:30px;

}




.hero h1{
font-size:26px;
}

.hero input{
margin-top:10px;
padding:10px;
width:50%;
border-radius:6px;
border:1px solid #ccc;
}

.topbar{
display:flex;
justify-content:space-between;
padding:15px 30px;
font-size:14px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
border:1px solid #ddd;
border-radius:10px;
padding:15px;
text-align:center;
position:relative;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card img{
width:100%;
border-radius:10px;
}

.badge{
position:absolute;
top:10px;
left:10px;
padding:5px 8px;
font-size:12px;
color:white;
border-radius:5px;
}

.green{ background:green; }
.red{ background:red; }

.rating{
font-size:13px;
margin:5px 0;
}

.price{
color:green;
font-weight:bold;
}

.price del{
color:#888;
font-size:12px;
margin-left:5px;
}

button{
background:#28a745;
color:white;
border:none;
padding:10px;
width:100%;
margin-top:10px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#218838;
}
.search-box{
position:relative;
width:30%;

text-align: left;
}

.search-box input{
width:100%;
padding:10px 10px 10px 35px;
border-radius:6px;
border:3px solid #b8b8b0;
}

.search-box i{
position:absolute;
left: 10px;
top:60%;
transform:translateY(-50%);
color:#7d7a7a;
}
